[buildout]
develop = .
extends =
    https://raw.github.com/plock/pins/master/plone-4-3
    https://raw.github.com/plock/pins/master/dev
download-cache = downloads-cache
parts -= omelette

[plone]
eggs += 
    collective.loremipsum
    uu.task
#    collective.teamwork

# development
    plone.reload
    iw.debug

[sources]
#collective.teamwork = git git@github.com:upiq/collective.teamwork.git

[versions]
collective.loremipsum = 0.10
plone.app.widgets=1.8.0

ipython = 3.2.0
iw.debug = 0.3
plonetheme.diazo-sunburst = 0.0.9
zope2-bootstrap = 0.1.0
ipdb = 0.8.1
loremipsum = 1.0.5
plone.api = 1.3.2
