include *.png
include *.py
include *.rst
include Makefile
include buildout.cfg
recursive-include doc ICON-LICENSE
recursive-include doc *.png
recursive-include doc *.rst
recursive-include doc *.txt
recursive-include uu *.png
recursive-include uu *.pt
recursive-include uu *.xml
recursive-include uu *.zcml
