#content ul.uutask-rule {
    margin: 0;
    padding: 0;
  }
#content ul.uutask-rule > li {
    margin: 0 0.5em 0 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
#content ul.uutask-rule > li input.uutask-field1 {
    width: 3em;
  }
#content ul.uutask-rule > li .select2-container {
    margin-bottom: 0.2em;
  }
#content ul.uutask-rule > li .pattern-pickadate-wrapper {
    margin-bottom: -0.6em;
  }

#content .uutask-hidden .due-date-computed-wrapper,
#content .uutask-hidden .pattern-pickadate-wrapper {
  display: none;
}

#content .task-status-wrapper {
  float: left;
  width: 100%;
  background: #DDDDDD;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}
#content .task-status-wrapper.computed-state-overdue {
  background: rgba(255, 0, 0, 0.3);
}
#content .task-status-wrapper.computed-state-completed {
  background: rgba(117, 173, 10, 0.5)
}
#content .task-status-wrapper-clean {
  clear: both;
}
#content .task-status {
  margin: 0.4em 0.1em;
}
#content .task-status .cell > label {
  display: inline-block;
  margin: 0;
  margin-right: 0.2em;
}
#content .task-status .cell > ul {
  display: inline-block;
  list-style: none;
  margin: 0;
}
#content .task-status .cell > ul > li {
  display: inline-block;
}
#content .task-status .cell > ul > li:after {
  content: ", ";
  position: relative;
  left: -0.3em;
}
#content .task-status .cell > ul > li:last-child:after {
  content: "";
}
